/************* 注册 start *************/
.b-reg{}
.b-reg .wrap{width:1120px; margin:20px auto; background:#fff;}

.b-reg .el-form-item__content{position:relative;}
.b-reg .el-form-item__content .el-input__inner{width:300px;}
.b-reg .el-form-item__content .img-code{position: absolute; top: 1px; left: 202px; height: 34px; width: 97px;}
.b-reg .el-form-item__content .smscode-input{width:165px;}
.b-reg .el-form-item__content .smscode-input input{width:165px;}
.b-reg .el-form-item__content .smscode{width:130px;}
.b-reg .el-form-item__content .okbtn{width:180px}
.b-reg .el-form-item__content .login-link a{color:#fb642a;}
.b-reg .row-content{ display:block; width:100%; margin:10px 50px; font-size: 14px;}

.b-reg .inner-wrap{width:640px; margin:20px auto;}
.form-register{
  width:640px;
  margin: 20px auto;
}
.b-reg .okbtn{display: block; width:180px;}
.b-reg .tit2{padding-bottom: 15px; font-size:16px; color: #666;border-bottom: 1px dashed #e3e3e3;}

.b-reg .step4-cca .inner-wrap{width:auto;}
.b-reg .step4-cca .el-form-item__content .el-input__inner{width:250px;}
.b-reg .step4-cca .stuff-wrap{width:670px; margin:15px auto;}
.b-reg .step4-cca .stuff-group{width:670px; height:120px; margin:15px auto;}
.b-reg .step4-cca .stuff-item{float:left; width: 130px; height: 120px; margin-right:50px; border: 1px dashed #e3e3e3;}
.b-reg .step4-cca .stuff-img{ width: 130px; height: 120px; }

.b-reg .step4-cca .stuff-item:last-child{margin-right:0px;}
.b-reg .step4-cca .stuff-item .title {margin:25px auto 0px; color: #666; text-align: center; font-size: 14px;}
.b-reg .step4-cca .stuff-item .add {width: 62px; margin: 7px auto; color:#666; font-size: 60px; line-height: 44px; text-align: center; font-weight: 100;}
.b-reg .step7-ccs .icon-style{color: #ea8010; font-size: 120px !important;}
.b-reg .step7-ccs .local-info-box{padding-top: 64px;}
.b-reg .step8-sa .inner-wrap{width:1000px;}
.b-reg .step8-sa .el-form-item__content .el-input__inner{width:250px;}
.b-reg .step8-sa .stuff-wrap{width:670px; margin:15px auto;}
.b-reg .step8-sa .stuff-group{width:670px; height:120px; margin:15px auto;}
.b-reg .step8-sa .stuff-item{float:left; width: 130px; height: 120px; margin-right:110px; border: 1px dashed #e3e3e3;}
.b-reg .step8-sa .stuff-item:last-child{margin-right:0px;}
.b-reg .step8-sa .stuff-item .title {margin:25px auto 0px; color: #666; text-align: center; font-size: 14px;}
.b-reg .step8-sa .stuff-item .add {width: 62px; margin: 7px auto; color:#666; font-size: 60px; line-height: 44px; text-align: center; font-weight: 100;}
/************* 注册 start *************/
.inner-wrap .text-tip {
  color:#B6A8A7;
  font-size: 10px;
}

/* 图片预览 cl*/
$viewBg:#fb642a;
$wordColor: #fff;

.imgContainer {
  position: relative;
  width: 130px;
  margin-right: 22px;
}
.imgPreview {
  position: absolute;
  height: 0;
  bottom: 0;
  width:130px;
  background: $viewBg;
  color: $wordColor;
  overflow: hidden;
  transition: 0.3s;
}
.imgContainer:hover .imgPreview {
  height: 25px;
}
.imgPreview:hover {
  cursor: pointer;
}
.imgPreview span {
  display: inline-block;
  width: 48%;
  padding-bottom: 3px;
  padding-top: 1px;
}
.imgPreview b {
  border-left: 1px solid #fff;
  position: relative;
  top: 1px;
}
/* 图片预览 end*/
